// All Blocks
.seeds-paragraph-block {
    position: relative;
    overflow: hidden;
  
    > .block-content {
      padding: 30px 0;
    }
  
    .field--name-field-seeds-background-image {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  
    &.seeds-block-parallax {
      .field--name-field-seeds-background-image {
        overflow: hidden;
        clip: rect(0, auto, auto, 0);
        right: 0;
        bottom: 0;
  
        img {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
  
  .seeds-primary {
    background-color: #c7c6c6;
  }
  
  .seeds-secondary {
    background-color: #f9f9f9;
  }
  
  // Modal Block
  .block-content--type-seeds-modal {
    .field--name-field-seeds-paragraph {
      display: none;
    }
  }
  
  #paragraph-modal {
    .field--name-field-seeds-paragraph {
      display: block;
    }
  }
  
  #paragraph-modal {
    .modal-body {
      overflow: auto !important;
      padding: 0;
    }
  
    .modal-title {
      display: none;
    }
  
    .modal-header {
      padding: 0;
      border: 0;
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 2;
      color: white;
      opacity: 0.8;
  
      &:active,
      &:focus {
        outline: 0;
      }
  
      &:hover {
        opacity: 1;
      }
    }
  }
  .block-content {
    &.block-content--type-seeds-grid {
      padding: 15px 0 0 0;
  
      .field--name-field-seeds-paragraph {
        display: flex;
        flex-wrap: wrap;
        > .field--item {
          margin-bottom: 15px;
        }
      }
    }
    &.block-content--type-seeds-tabs {
      .tabs {
        .tabs-wrapper {
          list-style: none;
          padding: 0;
          overflow-x: auto;
          white-space: nowrap;
          margin: 0;
  
          li {
            user-select: none;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #ddd;
            cursor: pointer;
            border-radius: 0px;
            margin: 0px;
  
            &:focus,
            &:hover {
              color: #00aaff;
              border-color: #00aaff;
            }
          }
        }
  
        > .field--item {
          display: none;
        }
  
        .seeds-expand {
          display: block;
        }
      }
    }
    &.block-content--type-seeds-tabs {
      padding: 0;
    }
    &.block-content--type-seeds-carousel {
      .slick-list {
        margin: 0 -10px;
      }
      .slick__slide {
        margin: 0 10px;
      }
    }
  
    &.block-content--type-seeds-accordion {
      .field--name-field-seeds-paragraph {
        .seeds_accordion {
          display: none;
        }
        > .field--item,
        > .field__item {
          .paragraph--type-seeds-paragraph {
            .field--name-field-seeds-title {
              margin: 0;
            }
            .title-wrapper {
              cursor: pointer;
              z-index: 2;
              position: relative;
              padding: 10px 15px;
              border-bottom: 1px solid transparent;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              color: #4d4d4f;
              background-color: #f5f5f5;
              border-color: #ddd;
              h2 {
                margin: 0;
              }
            }
  
            .accordion {
              display: none;
              z-index: 1;
              position: relative;
            }
          }
        }
      }
    }
  }
  