$seeds-page-primary: #c7c6c6;
$seeds-page-secondary: #f9f9f9;
$seeds: #4d4d4f;
$seeds-page-red: #FF0066;
$seeds-page-green: #38D42D;
$seeds-page-blue: #00AAFF;
$white: #FFF;
$gray: #DDD;
$black: #000;
